extend layout

block content
  .container.container-main
    .panel.panel-default
      .panel-body
        img.tip-logo(src="/images/dogecoin-300.png")
        h2 <span class="accent-text">#{tip.amount}</span> dogecoins
        p from: #{tip.tipper.display_name} on #{tip.tipper.provider}
        p to: #{tip.tippee.display_name} on #{tip.tippee.provider}

        if tip.state === 'claimed' || tip.state === 'canceled'
          p this tip has been #{tip.state}

        else if role
          p
            form(action="#{tip_path}", method="POST")
              input(type="hidden", name="_csrf", value=csrf_token)
              input(type="hidden", name="tip_id", value="#{tip.tip_id}")

              if role === 'tippee'
                button.btn.btn-lg.btn-success(type="submit") Claim them!

              if role === 'tipper'
                button.btn.btn-lg.btn-danger(type="submit") Cancel this tip.

        else
          p If this is you,
          a.btn.btn-lg(class="btn-{{provider}}") Sign in with {{provider}}
          | to claim your tip.
