extend modal

block message
  form#tip-create(action="#{url}/app/tips/create?username=#{username}&provider=#{provider}", method="POST")
    input(type="hidden", name="_csrf", value="#{csrf_token}")

    label
      |Tip D
      input(type="number", name="amount")

    label
      |To #{username} on #{provider}


    button(type="submit") Submit